:root {
  --input-color: #6a7283;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #275efe;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}

* {
  box-sizing: border-box;
}
body {
  background: var(--group-background);
  color: var(--input-color);
}
h1 {
  margin-top: 3rem;
}

.App {
  text-align: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}
.board {
  display: flex;

  width: 680px;
}
.button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.category-title {
  height: 3em;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  background: var(--input-background);
  border: 2px solid var(--group-border);
  border-radius: 10px;
  color: var(--input-color);
  text-decoration: none;
  font-weight: bolder;
  font-size: 2em;
  margin: 3px;
  transition: 0.3s;
}
.tile:hover {
  background: var(--group-background-focus);
  color: var(--group-color-focus);
}
.fullscreen {
  width: 680px;
  margin: 0px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 680px;
  background: var(--input-background);
  border: 10px double var(--group-border);
  border-radius: 10px;
  color: var(--input-color);
  font-weight: bolder;

  text-decoration: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  background: var(--input-border-focus);
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
nav a {
  margin: 0 10px;
  padding: 1px 6px;
}
nav button {
  margin: 0 10px;
}

.edit-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.edit-board .column {
  flex: 0 0 47%;
  border: 10px var(--input-border) double;
  /* border-left: none;
  border-right: none; */
  border-radius: 0px;

  margin: 5px;
}

/* input */

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
}
.form-field::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::placeholder {
  color: var(--input-placeholder);
}
.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;
}
.form-group > span,
.form-group .form-field {
  white-space: nowrap;
  display: block;
}
.form-group > span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.form-group > span:first-child,
.form-group .form-field:first-child {
  border-radius: 6px 0 0 6px;
}
.form-group > span:last-child,
.form-group .form-field:last-child {
  border-radius: 0 6px 6px 0;
}
.form-group > span:not(:first-child),
.form-group .form-field:not(:first-child) {
  margin-left: -1px;
}
.form-group .form-field {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}
.form-group > span {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: var(--group-color);
  background: var(--group-background);
  border: 1px solid var(--group-border);
  transition:
    background 0.3s ease,
    border 0.3s ease,
    color 0.3s ease;
}
.form-group:focus-within > span {
  color: var(--group-color-focus);
  background: var(--group-background-focus);
  border-color: var(--group-border-focus);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Mukta Malar", Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f5f9ff;
}

body .form-group:last-child {
  margin-bottom: 15px;
}
.form-group span {
  width: 107px;
}
.form-group {
  padding: 0 10px;
}
.category-number {
  margin-bottom: 20px;
  border-radius: 0;
  padding: 0;
  border-bottom: var(--input-border) 3px solid;
}
.category-number span:first-child {
  border-radius: 0;
  border: none;
}
.category-number input {
  border: none;
  border-radius: 0 !important;
}
